<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Enrollments</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Student Dashboard - Manage Enrollments</h1>
    </header>

    <nav>
        <ul>
            
            <li><a href="/enrollments">Manage Enrollments</a></li>
        </ul>
    </nav>

    <main>
        <section>
            
        </section>
    </main>

    <script src="/scripts_enrollments.js"></script>
    <script src="/server.js"></script>
</body>
</html>
